.row {
	border: 1px solid black;
	border-bottom: none;
}
.row-last{
	border-bottom: 1px solid black;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
	border-right: 1px solid black;
	text-align: center;
	padding: 0px;
	vertical-align: middle;
}
.last-col {
	border-right: none;
}
.row-none {
	border: 0px;
}
td {
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;
	text-align: center;
	vertical-align: middle !important;
}
td:first-child {
	border-left: 1px solid black !important;
}
tr:first-child > td {
	border-top: 1px solid black !important;
}